.rls-stack {
  position: relative;
  width: 100%;
  height: 100%;
}

.rls-layer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.rls-mask {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
